.section{
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  align-items: center;
  width: 100vw;
  overflow: hidden;
  position: relative;
  background-color: rgb(250,248,250);
}
.section img{
  position:unset !important;
  width: 100%;
  height: auto !important;
  object-fit: cover;
  object-position: center;
  max-width: 1000px;
  margin:0 auto;
}
.link{
  display: flex;
  align-content: center;
  background-color: transparent;
  outline: none;
  border:none;
  cursor: pointer;
}