.container{
 display: flex;
 align-items: flex-start;
 justify-content: center;
 gap:2rem;
 max-width: var(--max-width);
 width: var(--width-percentage); 
 margin:0 auto;
 flex-wrap: wrap;
 margin-bottom: 3rem;
}