.container{
  height: 100%;
  position: relative;
  max-height: var(--hero-max-height);
}

.heroContent{
  position: absolute;
  inset:0;
  height: 100%;
  width: 100%;
  max-width: 350px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  color:var(--secondary-color);
  text-align: center;
}

.heroContent h1{
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.heroTitleSide{
  font-size: 22px;
}
.heroTitle{
  font-size: 60px;
}
.heroSubtitle{
  font-size: clamp(14px,4vw,16px);
  line-height: 1.4;
  font-weight: 500;  
}
.heroMainDonateContainer{
  z-index: 0;
}