.heroImageContainer{
  position: relative;
  inset: 0;
  -webkit-clip-path: var(--clip-path);
  clip-path: var(--clip-path);
  height: 500px;
  max-height: var(--hero-max-height);
}
.heroImage{
  position:unset !important;
  width: 100%;
  /* height: auto !important; */
  inset: 0px;
  color: transparent;
  object-fit: contain;
  background: linear-gradient(120deg, hsla(0, 0%, 100%, 1) 0%, hsla(0, 100%, 92%, 1) 24%, hsla(355, 100%, 86%, 1) 51%, hsla(354, 100%, 80%, 1) 76%, hsla(0, 100%, 80%, 1) 100%);
}

.heroImageContainer::after{
  content: "";
  position: absolute;
  inset: 0;
  width: 100%;
  height: auto;
  background-color: var(--primary-color);
  opacity: 0.25;
  z-index: 0;
}

