
.heroHeaderContainer{
  width: 100%;
  height: 100%;
  position: absolute;
  inset: 0;
  max-height: var(--hero-max-height);
}
.heroCallContainer{
  position: relative;
  text-transform: uppercase;
  height: 100%;
  width: 100%;
  max-height: var(--hero-max-height);
}
.heroCallContainer h1,
.heroCallContainer h2,
.heroCallContainer h3,
.heroCallContainer h4,
.heroCallContainer h5{
  position: absolute;
  font-weight: 200;

}


.heroCallContainer h1{
  left: -9cqw;
  top: 4cqw;
  transform: rotate(-90deg);
  font-size: 3cqw;
  color: #15fefe;
  transform-origin: 100% 0;
}
.heroCallContainer h2{
  font-size: 3.25cqw;
  color: var(--accent-color);
  top: 0cqw;
  left: 2cqw;
}
.heroCallContainer h3{
  left: -5.5cqw;
  top: 4cqw;
  transform: rotate(-90deg);
  font-size: 3cqw;
  color: var(--accent-color);
  transform-origin: 100% 0;
}
.heroCallContainer h4{
  top: 4cqw;
  left: 9cqw;
  font-size: 1.75cqw;
  color: var(--secondary-color);
}
.heroCallContainer h5{
  top: 6cqw;
  left: 9cqw;
  font-size: 2cqw;
  color: #fdfd1c;
}
.heroImageContainer{
  position: absolute;
  height: 6cqw;
  width: 7cqw;
  left: 9cqw;
  top: 9cqw;
}

.currentPage{
  position: absolute;
  top: 17cqw;
  left: 3cqw;
  color: var(--secondary-color);
  font-size: 3cqw;
  text-transform: capitalize;
}
.currentPage h1{
  font-weight: 200;
}