

/* quotes section styles */
.quotesSection{
  display: flex;
  flex-direction: column;
  gap: 5rem;
  align-items: center;
}
.quotesSection h3 {
  width: 100%;
  text-align: center;
  font-size: clamp(40px,5vw,80px);
  text-transform: uppercase;
}
.quotesSection span{
  height: 100px;
  width: 100px;
}
.quotesLogoImage{
  height: clamp(30px,4vw,60px) !important;
  width: clamp(30px,4vw,60px) !important;
}


/* util styles */
