/* hero section styles */
.heroSection{
  height: 100%;
  position: relative;
  max-height: 100vh;
  margin-bottom:3rem;
}
.heroContent{
  height: 100%;
  width: 95%;
  max-width: 1500px;
  min-width: 300px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
  flex-wrap: wrap;
  row-gap: 6rem;
  padding: 20vw 0;
}
.heroTitleContainer{
  color: var(--secondary-color);
  z-index: 0;
  max-width: 350px;
  width: fit-content;
  min-width: 300px;
}
.heroTitleContainer h1{
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.heroTitleSide{
  font-size: 22px;
}
.heroTitle{
  font-size: 60px;
}
.heroSubtitle{
  font-size: clamp(14px,4vw,16px);
  line-height: 1.4;
  font-weight: 500;  
}
.heroMainDonateContainer{
  z-index: 0;
}

/* quotes section styles */
.quotesSection{
  display: flex;
  flex-direction: column;
  gap: 5rem;
  align-items: center;
}
.quotesSection h3 {
  width: 100%;
  text-align: center;
  font-size: clamp(40px,5vw,80px);
  text-transform: uppercase;
}
.quotesSection span{
  height: 100px;
  width: 100px;
}
.quotesLogoImage{
  height: clamp(30px,4vw,60px) !important;
  width: clamp(30px,4vw,60px) !important;
}


/* util styles */
