.container{
  display: flex;
  flex-direction: column;
  max-width: var(--max-width-lg);
  width: var(--width-percentage);
  gap:1rem;
  align-self: center;
  align-items: center;
  margin-bottom: 2rem;
}
.container button{
  width: 100%;
  display: flex;
  align-self:center;
  text-align: center;
}
.cardsContainer{
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
}
