.staffPage{
  display: flex;
  flex-direction: column;
  gap:2rem;
}
.heroSection{
  height: 100vh;
}
.heroHeaderContainer{
  height: 350px;
  width: 350px;
  position: relative;
  text-transform: uppercase;
  left: 25%;
  top: 25%;
  transform: translate(-25%,-25%);
}
.heroHeaderContainer h1{
  position: absolute;
  left: -109px;
  bottom: 105px;
  transform: rotate(270deg);
  font-size: 4.5rem;
  color: #15fefe;
}
.heroHeaderContainer h2{
  position: absolute;
  font-size: 3.5rem;
  letter-spacing: 7px;
  color: var(--accent-color);
}
.heroHeaderContainer h3{
  position: absolute;
  left: -24px;
  bottom: 95px;
  transform: rotate(270deg);
  font-size: 3rem;
  letter-spacing: 8px;
  color: var(--accent-color);
}
.heroHeaderContainer h4{
  position: absolute;
  top: 51px;
  left: 60px;
  font-size: 3.5rem;
  color: var(--secondary-color);  
}
.heroHeaderContainer h5{
  position: absolute;
  top: 115px;
  left: 116px;
  font-size: 2.5rem;
  letter-spacing: 8px;
  color: #fdfd1c;  
}
.heroImageContainer{
  position: absolute;
  height: 190px;
  width: 190px;
  left: 118px;
  top: 155px;
}

/* staff section styles */
.staffSection{
  display: flex;
  flex-direction: column;
  gap: 10rem;
  align-items: center;
  margin-top: 10rem;
  padding: 0 3rem;
  padding-bottom: 3rem;
}
.staffSection h1{
  text-transform: uppercase;
  font-size: clamp(30px,8vw,70px);
  width: 100%;
  text-align: center;
}
.staffCardsContainer{
  width: 100%;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(350px,1fr));
  align-items: center;
  justify-items: center;
  row-gap: 3rem;
}
.staffCardContainer{
  width: 325px;
  background: linear-gradient(0deg, rgba(2,0,36,1) 0%, rgba(52,52,52,1) 25%, rgba(78,78,78,1) 50%, rgba(99,99,99,1) 75%, rgba(255,98,98,1) 100%);
  color: var(--secondary-color);
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 4rem;
  padding: 2rem;
  position:relative;
  border-radius: 5px;
  -webkit-box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0); 
  box-shadow: 0px 10px 13px -7px #000000, 5px 5px 15px 5px rgba(0,0,0,0);
}
.staffCardContainer::after{
  content:"";
  position:absolute;
  inset: 0;
  background-image: url("/paws.png");
  background-size: cover;
  background-position: inherit;
  background-repeat: no-repeat;
  filter:invert(1);
  opacity: 0.2;
}
.staffCardImageContainer{
  position: relative;
  width: 250px;
  height: 250px;
  z-index: 2;
}
.staffCardContentContainer{
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}
.staffCardContentContainer h2{
  font-size: 36px;
  width: 100%;
  text-align: center;
}
.staffCardContentContainer p{
  font-size: 24px;
}
